Badass-House/web/WEB-INF/wsdl/189.245.172.14_81/WebServices/WS_AltaUsuario.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://WSBadassHouse/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WSBadassHouse/">

<xs:element name="WS_AltaUsuario" type="tns:WS_AltaUsuario"/>

<xs:element name="WS_AltaUsuarioResponse" type="tns:WS_AltaUsuarioResponse"/>

<xs:complexType name="WS_AltaUsuario">
<xs:sequence>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="pass" type="xs:string" minOccurs="0"/>
<xs:element name="numSerie" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="aPaterno" type="xs:string" minOccurs="0"/>
<xs:element name="aMaterno" type="xs:string" minOccurs="0"/>
<xs:element name="direccion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WS_AltaUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>